*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board{
    width: 100%;
    height: 500px;
    border-bottom: 15px solid #3a6a2f;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87ceeb, #e4f7ff);
}

.pipe{
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 2.5s infinite linear;
}

.mario{
    width: 150px;
    position: absolute;
    bottom: 0;
}

.jump{
    animation: jump 500ms infinite ease-out;
}

.nuvem {
    position: absolute;
    width: 650px;
    animation: slide-infinite 15s infinite linear;
}

@keyframes slide-infinite{
from{
    right: -250px;
}
to{
    right: 100%;
}
}

@keyframes pipe-animation {
    from{
        right: -80px;
    }
    
    to{
        right: 100%;
    }
}

@keyframes jump{
    0%{
        bottom: 0;
    }

    40%{
        bottom: 180px;
    }

    50%{
        bottom: 180px;
    }

    60%{
        bottom: 180px;
    }

    100%{
        bottom: 0;
    }
}